#user {
    color: orangered;
    font-weight: bold;
    font-size: small;
}

#person {
    width: 5%;
}

.welcome {
    float: right;
}

.myRides img {
    float: right;
    padding: 5px;
}

.myRides {
    height: fit-content;
    width: fit-content;
    background-color: white;
    border: solid;
    border-radius: 20px;
    border-color: lightgray;
}

.tblMyRides tbody tr:nth-child(odd) {
    background: lightgray;
}

.tblMyRides tbody tr:nth-child(even) {
    background: rgb(243, 245, 245);
}

.tblMyRides,
th,
td {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid lightslategray;
    border-collapse: collapse;
    text-align: center;
}