.accessToLogin {
    border: 1px solid rgb(134, 213, 240);
    /*anchura, estilo y color borde*/
    text-decoration: none;
    font-size: large;
    padding: 10px;
    /*espacio alrededor texto*/
    background-color: white;
    /*color botón*/
    border-radius: 10px;
    /*bordes redondos*/
    float: right
        /*ubicar al lado derecho de la pantalla*/
    ;
    font-size: x-large;
}

#searchButton {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgb(42, 187, 187);
    border-style: solid;
}

.searchRide {
    width: fit-content;
    background: white;
    border-color: black;
    border-width: thin;
    border-style: solid;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 15px;
    text-align: left;
}

table {
    width: fit-content;
}

table,
th,
td {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table tbody tr:nth-child(odd) {
    background: lightgray;
}

table tbody tr:nth-child(even) {
    background: rgb(243, 245, 245);
}